@{
    ViewData["Title"] = "Profile";
}
@await Html.PartialAsync("_Navbar")
@model User
<div class="container p-3 mt-5">
    <div class="card shadow mb-3 border-info p-3">
        <h4>Username : @Model.Username</h4>
        <h4>Email : @Model.Email</h4>
        <h4>IsSubscribed : @Model.IsSubscribed</h4>
        <h4>CreatedAt : @Model.CreatedAt</h4>
        <h4>UpdatedAt : @Model.UpdatedAt</h4>
    </div>
    <div class="d-flex align-items-center justify-content-around flex-wrap gap-3">
        @{
            foreach (Album album in Model.MyFavoriteAlbums)
            {
                <div class="card border-primary p-2 gap-2" style="width: 18rem;">
                    <div class="card-head h4 fst-italic text-center text-primary">
                        @album.Artist
                    </div>
                    <img src="@album.PosterUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>@album.Title</h6>
                            <h5 class="text-warning">@album.ReleaseYear</h5>
                        </div>
                        <div>
                            <h5 class="fst-italic text-info">Posted By: @album.User.Username</h5>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>